body{
    font-family: "Raleway", sans-serif;
    width: 95%;
    margin: auto;
    height: auto;
}


/*Mise en forme du Header*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img{
    height: 40px;
    margin: 30px 0 20px 0;
}

nav ul{
    display: flex;
    list-style: none;
}

nav{
    display: flex;
    align-items: center;
}

li a{
    
    padding: 36px 30px 0px 30px;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.menu:hover{
    color: #0065fc;
    border-top: 2px #0065fc solid;
}

#inscrire{
    text-decoration: none;
    font-weight: 600;
}

#inscrire a{
    color: #0065fc;
}

@media screen and (max-width : 768px) {
    body{
        width: auto;
    }
  
    #header{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      margin: 0;
      padding: 0;
  }

  #header img{
      margin: 25px 0 0 20px;
      height: 65px;
  }

  nav{
      width: 100%;
      margin-top: 22px;
  }

  nav ul{
      width: 100%;
      height: 50px;
      padding: 0;
  }

  li{
      width: 100%;
      height: 50px;
      border-bottom: 4px #f2f2f2 solid;
  }

  li:hover{
    border-bottom: 4px #0065fc solid;
  }

  .menu{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 8px 0 0 0;
      margin: 0;
      font-size: 1.3em;
  }

  .menu:hover{
      border-top: none;
  }


  #inscrire{
      position: absolute;
      width: auto;
      top : 50px;
      right: 0px;
      font-size: 1.4em;
      border-bottom: none;
      
  }

  #inscrire a{
      color: #0065fc;
  }


}

/* Mise en forme de la section Recherches*/

h1{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 8px;
}

#recherches p{
    font-size: 0.9em;
    margin-top: 0;
}


#barre-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #f2f2f2 solid;
    border-radius: 15px;
    width: 366px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#icone-map{
    padding: 15px 16px 15px 16px;
    background-color: #f2f2f2;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

#grande-icone-map{
    display: none;
}

#zone-recherche{
    border: none;
    width: 185px;
    height: 42px;
    padding-left: 10px;
    font-size: 1em;
    font-weight: 500;
}

#bouton-rechercher{
    text-decoration: none;
    background-color: #0065fc;
    color: white;
    font-weight: 500;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 14px 15px 13px 15px;
}

#icone-rechercher{
    display: none;
}

#zone-recherche:focus{
    outline: none;
}

#zone-recherche::placeholder{
    font-weight: 300;
    color: #d1cfcff5;
}

@media screen and (max-width : 768px) {

    #recherches{
        width: 90%;
        margin: auto;
    }

    h1{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8em;
        font-weight: bold;
        margin-top: 33px;
    }

    #recherches p{
        font-size: 1.3em;
        margin-top: 20px;
    }

    #barre-recherche{
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        height: 64px;
        width: 448px;
        border-top: 2px #f2f2f2 solid;
        border-bottom: 2px #f2f2f2 solid;
        border-radius: 20px;
    }

    #icone-map{
        display: none;
    }

    #grande-icone-map{
        display: unset;
        background-color: #f2f2f2;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        padding: 23px 23px 21px 23px;
    }

    #bouton-rechercher{
        display: none;
    }

    #icone-rechercher{
        display: unset;
        background-color: #0065fc;
        color: white;
        padding: 26px 24px 22px 24px;
        border-radius: 20px;

    }

    #zone-recherche{
        width: 298px;
        height: 58px;
        font-size: 1.4em;
    }
}

/* Mise en forme de la zone filtre */

#zone-filtres{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: flex-start;
}

h2{
    font-size: 1em;
    font-weight: 600;
}



.filtres{
    border: 2px #f2f2f2 solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding-right: 18px;
    margin-right: 20px;
    
}

#filtres{
    margin-left: 35px;
    display: flex;
    align-items: center;
}

.filtres:hover{
    box-shadow: 2px 5px 5px #deebff ;
}

.filtres i{
    margin-right: 12px;
    background-color: #deebff;
    color: #0065fc;
    padding: 12px 13px 12px 13px;
    border-radius: 30px;
}
@media screen and (max-width : 768px) {
    #zone-filtres{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h2{
        font-size: 1.5em;
        font-weight: 700;
    }

    #filtres{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
    }

    .filtres{
        margin-bottom: 20px;
        height: 60px;
        border: 3px #f2f2f2 solid;
        font-size: 1.4em;
        border-radius: 40px;
        border-left: none;
        padding-right: 23px;
    }

    .filtres i{
        padding: 22px;
        border-radius: 40px;
    }
}

/* Mise en forme de la phrase d'infos */

#infos{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#infos p{
    margin: 0;
}

#infos i{
    color: #0065fc;
    background-color: white;
    border: 2px #f2f2f2 solid;
    margin-right: 12px;
    padding: 4px 8px 4px 8px;
    border-radius: 30px;
}

@media screen and (max-width : 768px){
    
}