body{
    font-family: "Raleway", sans-serif;
    margin: 0 40px 0 40px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Mise en forme du Header*/

#header img{
    height: 35px;
    margin: 20px 0 20px 0;
}

nav ul{
    display: flex;
    list-style: none;
}

li a{
    margin: 20px 10px 0 40px;
    text-decoration: none;
    color: black;
    padding-top: 26px;
}

li a:hover{
    color: #0065fc;
    border-top: 2px #0065fc solid;
}

#inscrire{
    color: #0065fc;
    font-weight: 600;
}

/* Mise en forme de la section Recherches*/

h1{
    font-size: 1.2em;
}
